<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>countryName</key>
		<string>Japan</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>China</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Korea</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>HongKong</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Taiwan</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Turkey </string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>India</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Australia</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Thailand</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Malaysia</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>UK</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>US</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<false/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Canada</string>
		<key>SV</key>
		<true/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Germany</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Switzerland </string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Poland</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Netherlands</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Belgium</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>France</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Morocco</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Kuwait</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Saudi Arabia</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Ukrain</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
	<dict>
		<key>countryName</key>
		<string>Mexico</string>
		<key>SV</key>
		<false/>
		<key>PAL</key>
		<true/>
	</dict>
</array>
</plist>
